<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <data>

        <!-- Root -->
         <menuitem
            id="fleet_maintenance_request_id"
            name="Maintenance Request"
            action="action_maintenance_request_view"
            parent="fleet.menu_root"
            sequence="2"/> 
        <!-- <menuitem
            id="fleet_service_request"
            name="Service Request"
            action="fleet_vehicle_log_services_action"
            parent="fleet.menu_root"
            sequence="3"/>  -->

        <menuitem
            id="fleet_refueling_request"
            name="Fueling Request"
            action="action_dsl_refueling_request_view"
            parent="fleet.menu_root"
            sequence="3"/>

        <menuitem name="Maintenance"
                  id="fleet_maintenance"
                  parent="fleet.fleet_configuration"
                  sequence="1"/>         
    
        <menuitem
            id="fleet_maintenance_type"
            name="Maintenance Type"
            action="action_maintenance_type_view"
            parent="fleet_maintenance"
             sequence="2"/> 
       
    </data>
</odoo>

